body {
  
  margin: 0;
  padding: 0;
}
main{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
h1 {
  font-size: 90px;
  color: white;
  padding-top: 0;
  margin-top: 0;
  margin-bottom:20px;
  border-bottom: 1px solid white;
  font-weight:500;

}

h1 > header{
   color:white;
   text-align: center;
   font-size:150%;
   height:100px;
   
}

img > header{
    margin-right:40px;
}

img > figure{
  background-image: url("img_girl.jpg");
  background-size: contain;
  width: 200px;
  height: 100vh;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:black;
  padding: 0px 10px;
  display: flex;
  direction: row;
}
.headerlinks{
  display: flex;
  flex-wrap: wrap;
  direction: row;
  align-content: center;
}

.header a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 4px;
  margin-left: 80px;
}

.header a.logo {
  font-size: 25px;

  
}

.header a:hover {
  background-color: black;
  color: grey;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


h1 {
  font-size: 80px;
  margin-bottom:20px;
  border-bottom: 1px solid white;
  font-weight:500;
  padding-top:150px;
}
.flex-container {
  display: flex;
}

footer{
  height:500px;
  background-color:black;
}
