body {
  background-image: url("images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
img > figure{
  background-image: url("img_girl.jpg");
  background-size: contain;
  width: 200px;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin-bottom:20px;
  border-bottom: 1px solid white;
  font-weight:500;

}

